@model TalentInfo
@{
if (Model.Code == ConstHelper.NewRecordCode)
{
ViewBag.Title = "创建" + TalentInfo.MvcTitle;
}
else
{
ViewBag.Title = "编辑" + TalentInfo.MvcTitle;
}
Layout = "~/Views/Shared/_DashBoardForMin.cshtml";
}
@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
<div class="form-horizontal">
<div class="form-group">
@Html.LabelFor(model => model.ID, new { @class = "control-label col-md-2" })
<div class="col-md-10">
@Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })
@Html.ValidationMessageFor(model => model.ID, new { @class = "text-danger" })
</div>
</div>

<div class="form-group">
@Html.LabelFor(model => model.BirthDay, new { @class = "control-label col-md-2" })
<div class="col-md-10">
@HtmlUIHelper.GetDatePicker("BirthDay", Model.BirthDay)
@Html.ValidationMessageFor(model => model.BirthDay, new { @class = "text-danger" })
</div>
</div>

<div class="form-group">
@Html.LabelFor(model => model.Mobile, new { @class = "control-label col-md-2" })
<div class="col-md-10">
@Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
@Html.ValidationMessageFor(model => model.Mobile, new { @class = "text-danger" })
</div>
</div>

<div class="form-group">
@Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
<div class="col-md-10">
@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
@Html.ValidationMessageFor(model => model.Email, new { @class = "text-danger" })
</div>
</div>

<div class="form-group">
@Html.LabelFor(model => model.University, new { @class = "control-label col-md-2" })
<div class="col-md-10">
@Html.EditorFor(model => model.University, new { htmlAttributes = new { @class = "form-control" } })
@Html.ValidationMessageFor(model => model.University, new { @class = "text-danger" })
</div>
</div>

<div class="form-group">
@Html.LabelFor(model => model.Major, new { @class = "control-label col-md-2" })
<div class="col-md-10">
@Html.EditorFor(model => model.Major, new { htmlAttributes = new { @class = "form-control" } })
@Html.ValidationMessageFor(model => model.Major, new { @class = "text-danger" })
</div>
</div>

<div class="form-group">
@Html.LabelFor(model => model.LanguageList, new { @class = "control-label col-md-2" })
<div class="col-md-10">
@HtmlUIHelper.GetMultiValueWithGradeUI("LanguageList", ViewBag.LanguageList, Model.LanguageList)
@Html.ValidationMessageFor(model => model.LanguageList, new { @class = "text-danger" })
</div>
</div>

<div class="form-group">
@Html.LabelFor(model => model.SkillList, new { @class = "control-label col-md-2" })
<div class="col-md-10">
@Html.EditorFor(model => model.SkillList, new { htmlAttributes = new { @class = "form-control" } })
@Html.ValidationMessageFor(model => model.SkillList, new { @class = "text-danger" })
</div>
</div>

<div class="form-group">
@Html.LabelFor(model => model.MarketBGList, new { @class = "control-label col-md-2" })
<div class="col-md-10">
@(HtmlUIHelper.GetMultiValueUI<M_MarketBG>("MarketBGList", ViewBag.MarketBGList, Model.MarketBGList))
@Html.ValidationMessageFor(model => model.MarketBGList, new { @class = "text-danger" })
</div>
</div>

<div class="form-group">
@Html.LabelFor(model => model.TechniqueBG, new { @class = "control-label col-md-2" })
<div class="col-md-10">
@(HtmlUIHelper.GetSingleValueUI<M_TechniqueBG>("TechniqueBG", ViewBag.TechniqueBGList, Model.TechniqueBG))
@Html.ValidationMessageFor(model => model.TechniqueBG, new { @class = "text-danger" })
</div>
</div>

<div class="form-group">
@Html.LabelFor(model => model.Channel, new { @class = "control-label col-md-2" })
<div class="col-md-10">
@Html.EditorFor(model => model.Channel, new { htmlAttributes = new { @class = "form-control" } })
@Html.ValidationMessageFor(model => model.Channel, new { @class = "text-danger" })
</div>
</div>

<div class="form-group">
@Html.LabelFor(model => model.Comment, new { @class = "control-label col-md-2" })
<div class="col-md-10">
@Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
@Html.ValidationMessageFor(model => model.Comment, new { @class = "text-danger" })
</div>
</div>

<div class="form-group">
@Html.LabelFor(model => model.SearchKey, new { @class = "control-label col-md-2" })
<div class="col-md-10">
@Html.EditorFor(model => model.SearchKey, new { htmlAttributes = new { @class = "form-control" } })
@Html.ValidationMessageFor(model => model.SearchKey, new { @class = "text-danger" })
</div>
</div>

<div class="form-group">
@Html.LabelFor(model => model.AccessRight, new { @class = "control-label col-md-2" })
<div class="col-md-10">
@HtmlUIHelper.GetMVCCheckBox("","AccessRight", Model.AccessRight)
@Html.ValidationMessageFor(model => model.AccessRight, new { @class = "text-danger" })
</div>
</div>

<div class="form-group">
<div class="col-md-offset-2 col-md-10">
 @if (Model.Code == ConstHelper.NewRecordCode)
{
<input type="submit" value="创建" class="btn btn-success" style="width:120px"/>
}
else
{
<input type="submit" value="保存" class="btn btn-success" style="width:120px" />
}
@Html.ActionLink("返回列表", "Index", new { }, new { @class = "btn btn-default", style = "width:120px" })
</div>
</div>
</div>
}
